:root {
    --theme: darkmagenta;
    --text: #241525;
    --active: crimson;
    --table-even: aliceblue;
    --table-odd: plum;
}

table {
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
}

table, tr, td, th {
    border: 1px solid black;
}

td, th {
    padding: 4px;
}

th {
    padding: 12px;
    text-align: left;
    background-color: var(--theme);
    color: white;
}

tbody tr {
    &:nth-child(even) { background-color: var(--table-even); }
    &:nth-child(odd) { background-color: var(--table-odd); }
}

.jadwal {
    margin-bottom: 16px;
}

.jadwal :is(th, td) {
    &:nth-child(1) { width: 20px; }  /* Nomor */
    &:nth-child(2) { width: 150px; } /* Mapel */
    &:nth-child(3) { width: 80px; }  /* Jam */
    &:nth-child(4) { width: 80px; }  /* Guru */
}

:is(th, td):active {
    background-color: var(--active) !important;
    color: white;
}

caption {
    color: var(--theme);
    font-family: 'Cascadia Code', monospace;
    font-size: large;
    font-weight: bold;
    padding: 8px;
    &:hover {
        color: var(--active);
    }
}

h1, h2 {
    font-family: 'Cascadia Code', monospace;
    color: var(--theme);
    &:hover {
        color: var(--active);
    }
}

ol {
    font-family: 'Segoe UI', sans-serif;
    color: var(--text);
}
li {
    padding: 2px;   
}

p {
    font-family: Arial;
    color: var(--text);
}