:root {
    --theme: darkmagenta;
    --active: crimson;
    --table-even: aliceblue;
    --table-odd: plum;
}

table {
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
}

table, tr, td, th {
    border: 1px solid black;
}

td, th {
    padding: 4px;
}

.jadwal-table {
    margin-bottom: 16px;

    :is(th, td) {
        &:nth-child(1) { width: 20px; }  /* Nomor */
        &:nth-child(2) { width: 150px; } /* Mapel */
        &:nth-child(3) { width: 80px; }  /* Jam */
        &:nth-child(4) { width: 80px; }  /* Guru */

        &:active {
            background-color: var(--active) !important;
            color: white;
        }
    }

    tr:nth-child(even) { background-color: var(--table-even); }
    tr:nth-child(odd) { background-color: var(--table-odd); }
    th {
        padding: 12px;
        text-align: left;
        background-color: var(--theme);
        color: white;
    }
}

caption {
    color: var(--theme);
    font-family: 'Cascadia Code', monospace;
    font-size: large;
    font-weight: bold;
    padding: 8px;
    &:hover {
        color: var(--active);
    }
}

h1, h2 {
    font-family: 'Cascadia Code', monospace;
    color: var(--theme);
    &:hover {
        color: var(--active);
    }
}

ol {
    font-family: 'Segoe UI', sans-serif;
    color: var(--text);
}
li {
    padding: 2px;   
}

p {
    font-family: Arial;
    color: var(--text);
}

.buttons {
    margin-bottom: 16px;
    button {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 4px;
        font-weight: bold;

        &.active {
            background-color: var(--theme);
            color: white;
        }
    }
}

.hidden {
    display: none;
}

.jadwal-lab {
    .nomor {
        width: 50px;
    }
    .guru {
        width: 200px;
    }
    .hari {
        width: 200px;
    }
    .ruang, .jam {
        width: 100px;
    }
    .lab1 {
        background-color: green;
    }
    .lab2 {
        background-color: yellow;
    }
    tbody td {
        height: 22px;
    }
    .td-nomor {
        text-align: center;
    }
}